{% extends "layouts/app.twig" %}

{% block pageTitle %}Title{% endblock %}

{% block content %}
    <div class="fw-flex fw-height-1-1">
        {% include "layouts/left-menu.twig" %}
        <div class="service-screen fw-color-white fw-text-center">
            <div class="container fw-text-left fw-mt-60">
                {% include "layouts/header.twig" %}
                <ul class="ul-breadcrumbs fw-pl-15 fw-flex fw-list-style-none fw-fz-14 fw-mb-30">
                    <li>Услуги</li>
                </ul>
                <div class="fw-max-width-800 fw-pb-20 service-item">
                <div class="fw-inline-block">
                    <div class="item-block fw-relative fw-flex-middle fw-width-225 fw-height-225 fw-text-center">
                        <div class="fw-mt-0">
                            <i class="icon icon-case"></i>
                        </div>
                        <div class="fw-mt-15 fw-line-height-1-3 fw-fz-15 fw-pl-20 fw-pr-20">Маркетинговое сопровождение компаний</div>
                        <div class="item-block-child fw-text-center fw-pr-30 fw-pl-30 fw-bg-color-blue fw-width-1-1 fw-height-1-1 fw-absolute">
                            <div class="fw-fz-16 fw-text-left fw-line-height-1-2 fw-mt-40">
                                Подразумевает
                                собой полный охват
                                всех маркетинговых
                                и рекламных задач.
                            </div>
                            <div class="fw-bottom-25-inverse fw-margin-auto fw-right-0 fw-left-0 fw-absolute fw-text-center">
                                <a href="#" class="fw-bg-color-orange fw-text-decoration-none fw-fz-14 fw-border-radius-3 fw-color-white fw-pt-8 fw-pb-8 fw-pl-27 fw-pr-27">Заказать услугу</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fw-inline-block">
                    <div class="item-block fw-relative fw-flex-middle fw-width-225 fw-height-225 fw-text-center">
                        <div class="fw-mt-0">
                            <i class="icon icon-rocket"></i>
                        </div>
                        <div class="fw-mt-15 fw-line-height-1-3 fw-fz-15 fw-pl-20 fw-pr-20">SMM - Сопровождение</div>
                        <div class="item-block-child fw-text-center fw-pr-30 fw-pl-30 fw-bg-color-blue fw-width-1-1 fw-height-1-1 fw-absolute">
                            <div class="fw-fz-16 fw-text-left fw-line-height-1-2 fw-mt-40">
                                Подразумевает
                                собой полный охват
                                всех маркетинговых
                                и рекламных задач.
                            </div>
                            <div class="fw-bottom-25-inverse fw-margin-auto fw-right-0 fw-left-0 fw-absolute fw-text-center">
                                <a href="#" class="fw-bg-color-orange fw-text-decoration-none fw-fz-14 fw-border-radius-3 fw-color-white fw-pt-8 fw-pb-8 fw-pl-27 fw-pr-27">Заказать услугу</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fw-inline-block">
                    <div class="item-block fw-relative fw-flex-middle fw-width-225 fw-height-225 fw-text-center">
                        <div class="fw-mt-0">
                            <i class="icon icon-chart"></i>
                        </div>
                        <div class="fw-mt-15 fw-line-height-1-3 fw-fz-15 fw-pl-20 fw-pr-20">Контекстная реклама</div>
                        <div class="item-block-child fw-text-center fw-pr-30 fw-pl-30 fw-bg-color-blue fw-width-1-1 fw-height-1-1 fw-absolute">
                            <div class="fw-fz-16 fw-text-left fw-line-height-1-2 fw-mt-40">
                                Подразумевает
                                собой полный охват
                                всех маркетинговых
                                и рекламных задач.
                            </div>
                            <div class="fw-bottom-25-inverse fw-margin-auto fw-right-0 fw-left-0 fw-absolute fw-text-center">
                                <a href="#" class="fw-bg-color-orange fw-text-decoration-none fw-fz-14 fw-border-radius-3 fw-color-white fw-pt-8 fw-pb-8 fw-pl-27 fw-pr-27">Заказать услугу</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fw-inline-block">
                    <div class="item-block fw-relative fw-flex-middle fw-width-225 fw-height-225 fw-text-center">
                        <div class="fw-mt-0">
                            <i class="icon icon-web"></i>
                        </div>
                        <div class="fw-mt-15 fw-line-height-1-3 fw-fz-15 fw-pl-20 fw-pr-20">Сайты и мобильные приложения</div>
                        <div class="item-block-child fw-text-center fw-pr-30 fw-pl-30 fw-bg-color-blue fw-width-1-1 fw-height-1-1 fw-absolute">
                            <div class="fw-fz-16 fw-text-left fw-line-height-1-2 fw-mt-40">
                                Подразумевает
                                собой полный охват
                                всех маркетинговых
                                и рекламных задач.
                            </div>
                            <div class="fw-bottom-25-inverse fw-margin-auto fw-right-0 fw-left-0 fw-absolute fw-text-center">
                                <a href="#" class="fw-bg-color-orange fw-text-decoration-none fw-fz-14 fw-border-radius-3 fw-color-white fw-pt-8 fw-pb-8 fw-pl-27 fw-pr-27">Заказать услугу</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fw-inline-block">
                    <div class="item-block fw-relative fw-flex-middle fw-width-225 fw-height-225 fw-text-center">
                        <div class="fw-mt-0">
                            <i class="icon icon-find"></i>
                        </div>
                        <div class="fw-mt-15 fw-line-height-1-3 fw-fz-15 fw-pl-20 fw-pr-20">Аудит и компании</div>
                        <div class="item-block-child fw-text-center fw-pr-30 fw-pl-30 fw-bg-color-blue fw-width-1-1 fw-height-1-1 fw-absolute">
                            <div class="fw-fz-16 fw-text-left fw-line-height-1-2 fw-mt-40">
                                Подразумевает
                                собой полный охват
                                всех маркетинговых
                                и рекламных задач.
                            </div>
                            <div class="fw-bottom-25-inverse fw-margin-auto fw-right-0 fw-left-0 fw-absolute fw-text-center">
                                <a href="#" class="fw-bg-color-orange fw-text-decoration-none fw-fz-14 fw-border-radius-3 fw-color-white fw-pt-8 fw-pb-8 fw-pl-27 fw-pr-27">Заказать услугу</a>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
